.card-container {
    height: 500px;
    width: 300px;
    background-color: #1b082b;
    border: #1b082b 2px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
    position: relative;
    transition: 0.5s;
    margin-bottom: 50px;
}

.card-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 6px 6px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color: #EFDDFD;
    text-align: center;
    font-size: 1.2em;
}

.card-description {
    font-family: 'Montserrat', sans-serif;
    color: #EFDDFD;
    font-size: 0.9em;
    width: 250px;
    height: 140px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.card-button {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #390660;
    color: #EFDDFD;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.25s;
}

.card-button:hover {
    background-color: #550990;
}

.card-info {
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-more {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 6px 6px 0 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.show-more-button {
    width: 100px;
    height: 30px;
    border: 1px solid #0000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #0000;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.show-more:hover {
    background-color: #0008;
}

.show-more:hover .show-more-button {
    color: #EFDDFD;
    border: 1px solid #EFDDFD;
}

@media (max-width: 1280px) {
    .show-more {
        display: none;
    }
}