.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(14, 4, 22);
    background: linear-gradient(90deg, rgba(14, 4, 22, 1) 0%, rgba(27, 8, 43, 1) 50%, rgba(41, 11, 65, 1) 100%);
    padding-top: 25px;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #EFDDFD;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.avatar {
    width: 100px;
    aspect-ratio: 1/1;
    transition: 0.2s;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1.02);
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.header-nav {
    width: 50%;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

@media(max-width: 1280px) {
    .header-nav {
        display: none;
    }

    .hero-container {
        background-attachment: scroll;
    }
}