@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard  */
}

body {
  background-color: #210934;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #EFDDFD;
  font-size: 60px;
  transition: 0.5s;
}

h1:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.02);
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #EFDDFD;
  cursor: pointer;
  transition: 0.5s;
}

span:hover {
  color: #fff;
  transform: scale(1.02);
}

a {
  color: inherit;
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

* {
  scrollbar-width: 10px;
  scrollbar-color: #700CBC;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #700CBC;
  border-radius: 20px;
}

@media(max-width: 1280px) {
  body {
    width: 100vw;
    background-color: #210934;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
  }

  span {
    font-size: 1.2em;
  }
}